.claude/**
.vscode/**
.vscode-test/**
docs/**
scripts/**
out/**
src/**
node_modules/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
CLAUDE.md
nul
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!package.nls*.json
